# CIRCOS CONFIGURATION

# karyotype
karyotype = ./karyotype.txt

chromosome_units = 10
chromosomes_display_default = no
chromosomes = /./
chromosomes_color = /./ = lblue
#chromosomes_scale = /./ = 1rn
#chromosomes_scale = eval(var(size)) < 100000 = 0.5r
z=100

# Plots
<plots>
	<<include plot_conservation_schneider.conf>>
	<<include plot_simplex_baird.conf>>
	<<include plot_simplex_cavallero.conf>>
	<<include plot_simplex_llorens.conf>>
	<<include plot_pegreffii_baird.conf>>
	<<include plot_pegreffii_cavallero.conf>>
	<<include plot_pegreffii_llorens.conf>>
	<<include plot_hybrid_llorens.conf>>
</plots>

# Ideogram
<ideogram>
	<<include ideogram.conf>>
</ideogram>

show_ticks = yes
show_tick_labels = yes

<ticks>
	<<include ticks.conf>>
</ticks>
# How to export the image
<image>
	# Included from Circos distribution.
	<<include etc/image.conf>>
</image>

# RGB/HSV color definitions, color lists, location of fonts, fill
# patterns. Included from Circos distribution.
<<include etc/colors_fonts_patterns.conf>>

# Debugging, I/O an dother system parameters
# Included from Circos distribution.
<<include etc/housekeeping.conf>>
